<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="platform:/resource/datagen/src/metamodel/erdesignerschema_3.0.xsd"
            class="Erdesignerschema30.provider.Erdesignerschema30ItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/datagen/src/metamodel/erdesignerschema_3.0.xsd"
            class="Erdesignerschema30.Erdesignerschema30Package"
            genModel="src/metamodel/erdesignerschema_3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="erdesignerschema30"
            class="Erdesignerschema30.util.Erdesignerschema30ResourceFactoryImpl"/>
   </extension>

</plugin>
