<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>



   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="it.csi.mddtools.datagen.DatagenPackage"
            uri="http://www.csi.it/mddtools/datagen">
      </package>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated datagen -->
      <factory
            uri="http://www.csi.it/mddtools/datagen"
            class="it.csi.mddtools.datagen.provider.DatagenItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="it.csi.mddtools.rdbmdl.RdbmdlPackage"
            uri="http://www.csi.it/mddtools/rdbmdl">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="it.csi.mddtools.rdbmdl.datatypes.DatatypesPackage"
            uri="http://www.csi.it/mddtools/rdbmdl/datatypes">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="it.csi.mddtools.rdbmdl.constraints.ConstraintsPackage"
            uri="http://www.csi.it/mddtools/rdbmdl/constraints">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="it.csi.mddtools.rdbmdl.view.ViewPackage"
            uri="http://www.csi.it/mddtools/rdbmdl/view">
      </package>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rdbmdl -->
      <factory
            uri="http://www.csi.it/mddtools/rdbmdl"
            class="it.csi.mddtools.rdbmdl.provider.RdbmdlItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rdbmdl -->
      <factory
            uri="http://www.csi.it/mddtools/rdbmdl/constraints"
            class="it.csi.mddtools.rdbmdl.constraints.provider.ConstraintsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rdbmdl -->
      <factory
            uri="http://www.csi.it/mddtools/rdbmdl/datatypes"
            class="it.csi.mddtools.rdbmdl.datatypes.provider.DatatypesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rdbmdl -->
      <factory
            uri="http://www.csi.it/mddtools/rdbmdl/view"
            class="it.csi.mddtools.rdbmdl.view.provider.ViewItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="src/ewl/newDaoWizards.ewl"
            namespaceURI="http://www.csi.it/mddtools/datagen">
      </wizards>
   </extension>

</plugin>
